:root {
  --text-color: #ffffff;
  --title-color: #111111;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
  color: var(--text-color);
}

a {
  text-decoration: none;
}

[class*='_container'] {
  max-width: 910px;
  padding: 0 30px;
  margin: 0 auto;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-size: 55px;
  font-weight: 700;
  line-height: 1.09;
  color: var(--text-color);
}

.button {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 3px;
  text-transform: uppercase;

  display: inline-block;
  padding: 16px 47px;

  background-color: transparent;
  border-radius: 50px;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.header__link {
}
.header__logo {
}

/* section banner */

.page__banner {
}
.banner {
  display: flex;
  align-items: center;
  height: 688px;
  background: url('../images/bg-barista.jpg') right/cover no-repeat;
}

.banner__wrap {
  /* margin: 0; */
  max-width: 470px;
  padding: 20px 30px;
  border-radius: 20px;
  background-color: rgba(51, 47, 41, 0.8);
}
.banner__title {
  margin: 40px 0;
}

.banner__text {
  margin-bottom: 40px;
}

.banner__button {
  color: var(--text-color);
  border: 2px solid var(--text-color);
}

.banner__button:hover,
.banner__button:focus {
  color: #332f29;
  background-color: var(--text-color);
}

/* section coffee */

.page__coffee {
}

.coffee {
  padding: 60px 0;
}

.coffee__title {
  text-align: center;
  font-size: 60px;
  line-height: 1.1;
  color: var(--title-color);

  margin-bottom: 30px;
}

.coffee__list {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 30px;

  text-align: center;
}

.about-product__item,
.coffee__item {
  max-width: 403px;
  padding: 30px;
}

.coffee__item {
  display: flex;
  flex-direction: column-reverse;
}

.coffee__img {
}

.coffee__text,
.about-product__text {
  margin: 30px 0;
  color: var(--title-color);
}

.coffee__text-wrap,
.about-product__text-wrap {
  padding: 20px;
  border-radius: 20px;
  background-color: #bfa98b;
}

.coffee__text-bold,
.about-product__text-bold {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

.coffee__text-simple {
}

.about-product__img {
}

.about-product__text-simple {
}

/* bg-products */

.bg-products {
  min-height: 575px;
  background: url('../images/bg-make-coffee.jpg') center/cover no-repeat;
}

/* section coffee */

.page__products {
}
.products {
}
._container {
}
.visually-hidden {
}
.products__list {
}
.products__item {
}
.products__number {
}
.products__title-min {
}
.products__text {
}
